.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .hero picture img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* Puts image behind text */
    }

    .hero h1 {
        font-size: 3rem;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
