.teaser {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

.teaser-image {
    flex: 1;
}

    .teaser-image img {
        width: 100%;
        border-radius: 12px;
    }

.teaser-content {
    flex: 1;
}

    .teaser-content h2 {
        color: #333;
        font-size: 2rem;
    }

    /* Style the link as a Button */
    .teaser-content a {
        display: inline-block;
        background: #000;
        color: #fff;
        padding: 12px 24px;
        text-decoration: none;
        border-radius: 4px;
    }
.teaser{
    background-color: aliceblue;
}
